
body{
  background: #5433FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img > .brandImg {
  max-width: 20%;
}

@media (max-width:320px){
  .brandImg{
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 768px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

  .brandImg{
    display: none;
  }
    

  }

  @media only screen and (min-device-width: 320px) and (max-device-height: 768px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    
      .brandImg{
        display: none;
      }
    
    .brand-container {
        display: flex;
        flex-flow: column-reverse;
    }
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
   .brandImg {
    max-width: 30%;
    position: absolute;
    top: 10px;
    left: 95px;
    margin-left: 280px;
  }
}
  /* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  
    .brandImg {
      max-width: 30%;
      position: absolute;
      top: 10px;
      left: 95px;
      margin-left: 309px;
    }

} 

@media only screen  and (min-width : 1024px) {
  /* Styles */
  .brandImg{
    max-width: 20%;
    position: absolute;
    top: -5px;
    left: 218px;
    margin-left: 430px;
}

.jumbotron {
  border: 2px solid #333;
  border-radius: 555px 25px 15px 25px/25px 5px 35px 555px;
  margin-top: 5%;
}

.brand-container {
    display: flex;
    flex-flow: column-reverse;
}
  }
  